//-----Body--------------------------------------------------
body [data-scroll="false"] {
	overflow: hidden;
}
body [data-scroll="true"] {
	overflow: scroll;
}
body.menu-open {
	overflow: hidden;
}
//-----Wrapper--------------------------------------------------

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
//===================CONTAINER============================

[class*="__container"] {
	max-width: 1160px;
	margin: 0px auto;
	padding: 0px 15px;
}


