.header {
	background-color: #f8f8f8;
	padding-bottom: 168px;
	&__container {
		display: flex;
		position: relative;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 61%;
		@media (max-width: 1046px) {
			opacity: 0.5;
		}
		@media (max-width: 991.98px) {
			left: 58%;
		}
		@media (max-width: 767.98px) {
			left: 50%;
		}
		@media (max-width: 714px) {
			left: 23%;
		}
		@media (max-width: 558px) {
			left: 12%;
		}
		@media (max-width: 375px) {
			left: 0;
		}
		@media (max-width: 320px) {
			left: -7%;
		}
	}
	@media(max-width: 767.98px) {
		padding-bottom: 80px;
	}
}

.content-header {
	display: flex;
	flex-direction: column;
	padding-top: 104px;
	max-width: 623px;
	margin-right: 36px;
	z-index: 5;
	&__label {
		font-size: 24px;
		line-height: 186%;
		&:not(:last-child) {
			margin-bottom: 53px;
		}
		@media (max-width: 375px) {
			&:not(:last-child) {
				margin-bottom: 13px;
			}
		}
	}
	&__title {
		color: #272727;
		font-size: 250px;
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: 43px;
		}
		@media (max-width: 632px) {
			font-size: 150px;
			text-align: center;
		}
		@media (max-width: 375px) {
			font-size: 114px;
			&:not(:last-child) {
				margin-bottom: 21px;
			}
		}
	}
	&__text {
		line-height: 155%;
		&:not(:last-child) {
			margin-bottom: 61px;
		}
		@media (max-width: 632px) {
			font-size: 20px;
			text-align: center;
		}
		@media (max-width: 375px) {
			font-weight: 500;
			font-size: 22px;
		}
	}
	@media (max-width: 714px) {
		align-items: center;
		justify-content: center;
		margin-right: 0;
		&:not(:last-child) {
			margin-bottom: 31px;
		}
	}
}

.actions-header {
	display: flex;
	align-items: center;
	&__btn {
		background: #161515;
		color: #fff;
		padding: 26px 73px;
		transition: all 0.4s ease 0s;
		&:hover {
			background: #161515cc;
			color: #ffffffc7;
		}
	}
	&__value {
		padding: 26px;
		background-color: #fff;
		@media (max-width: 632px) {
			width: 276px;
			text-align: center;
		}
	}
	@media (max-width: 714px) {
		justify-content: center;
	}
	@media (max-width: 632px) {
		flex-direction: column;
	}
}
